<h1>About Reciprocity</h1>

<p>Reciprocity.Love is a platform to facilitate the exchange of support, services,  skills and space. Better than social networking, thinking beyond time banks and barter exchange platforms, we aim to provide space for the flow of support, between movement builders, community organizers and those wishing to engage in, support and further the momentum of activity protecting the planet and its inhabitants. Without quantifying value, without asking for benchmarks, our goal is participate in expanding the capacity of the people and the magnitude of our work.</p>

<h3>De-Commodifying Giving in a Currency-Free Zone</h3>

<p>With the rise in conversation turning to activated decolonization of systems, minds, land, and spirit, we are encouraged by funds directed toward marginalized centered organizations, but the people who staff the organizations and those served do not always receive the benefits.</p>

<p>Reciprocity.Love provides opportunities for the community to engage in movement building from where they are, by helping to sustain the individual people standing up to protect our futures—who do so, often without the privilege of organizational means, reach, or funding.</p>

<%= image_tag "about_1.png" %>
